@import "tailwindcss";

html{
scroll-behavior:smooth;
}

body{
background:#f7f4ed;
color:#222;
font-family:var(--font-body);
}

h1,
h2,
h3,
h4,
h5{
font-family:var(--font-heading);
font-weight:600;
letter-spacing:-0.03em;
}

img{
display:block;
width:100%;
}

button{
cursor:pointer;
transition:.2s;
}

a{
text-decoration:none;
color:inherit;
}

::selection{
background:#f2d39c;
}